<div>
    <% if (equippedUpgrades.length === 0 && equippedAbilities.length === 0) { %>
        <h4 class="empty">No upgrades equipped</h4>
    <% } else { %>
        <h4 class="not-empty">Equipped Upgrades</h4>
    <% } %>
    <ul>
        <% equippedUpgrades.forEach(function(upgrade) { %>
            <li>
                <div class="preview" 
                    data-featherlight="/components/xwing-data/images/<%= upgrade.image %>"
                    data-featherlight-variant="card-preview-modal"
                    data-featherlight-close-on-click="anywhere">
                    <%= getIconString(upgrade.slot) %>
                    <span class="name"><%= upgrade.name %></span>
                    <i class="material-icons icon-preview">zoom_in</i>
                </div>
                <div class="full"
                    data-featherlight="/components/xwing-data/images/<%= upgrade.image %>"
                    data-featherlight-variant="card-preview-modal"
                    data-featherlight-close-on-click="anywhere">
                        <img src="/components/xwing-data/images/<%= upgrade.image %>" alt="Card image for <%= upgrade.name %>">
                </div>
            </li>
            <% if (upgrade.otherSide) { %>
                <li>
                    <div class="preview" 
                        data-featherlight="/components/xwing-data/images/<%= upgrade.otherSide.image %>"
                        data-featherlight-variant="card-preview-modal"
                        data-featherlight-close-on-click="anywhere">
                        <%= getIconString(upgrade.otherSide.slot) %>
                        <span class="name"><%= upgrade.otherSide.name %></span>
                        <i class="material-icons icon-preview">zoom_in</i>
                    </div>
                    <div class="full"
                        data-featherlight="/components/xwing-data/images/<%= upgrade.otherSide.image %>"
                        data-featherlight-variant="card-preview-modal"
                        data-featherlight-close-on-click="anywhere">
                            <img src="/components/xwing-data/images/<%= upgrade.otherSide.image %>" alt="Card image for <%= upgrade.otherSide.name %>">
                    </div>
                </li>
            <% } %>
            <% if (upgrade.conditions) { %>
                <% upgrade.conditions.forEach(function(name) { %>
                    <li>
                        <div class="preview" 
                            data-featherlight="/components/xwing-data/images/<%= conditions[name].image %>"
                            data-featherlight-variant="card-preview-modal"
                            data-featherlight-close-on-click="anywhere">
                            <i class="xwing-miniatures-font xwing-miniatures-font-condition"></i>
                            <span class="name"><%= conditions[name].name %></span>
                            <i class="material-icons icon-preview">zoom_in</i>
                        </div>
                        <div class="full"
                            data-featherlight="/components/xwing-data/images/<%= conditions[name].image %>"
                            data-featherlight-variant="card-preview-modal"
                            data-featherlight-close-on-click="anywhere">
                                <img src="/components/xwing-data/images/<%= conditions[name].image %>" alt="Card image for <%= conditions[name].name %>">
                        </div>
                    </li>
                <% }); %>
            <% } %>
        <% }); %>

        <% equippedAbilities.forEach(function(abilityPilot) { %>
            <li>
                <div class="ability preview" pilot-id="<%= abilityPilot.id %>">
                    <%= getIconString('Elite') %>
                    <span class="name"><%= abilityPilot.name %></span>
                    <i class="material-icons icon-preview">zoom_in</i>
                </div>
                <div class="ability full">
                    <%= renderCard(abilityPilot) %>
                </div>
            </li>
            <% if (abilityPilot.conditions) { %>
                <% abilityPilot.conditions.forEach(function(name) { %>
                    <li>
                        <div class="preview" 
                            data-featherlight="/components/xwing-data/images/<%= conditions[name].image %>"
                            data-featherlight-variant="card-preview-modal"
                            data-featherlight-close-on-click="anywhere">
                            <i class="xwing-miniatures-font xwing-miniatures-font-condition"></i>
                            <span class="name"><%= conditions[name].name %></span>
                            <i class="material-icons icon-preview">zoom_in</i>
                        </div>
                        <div class="full"
                            data-featherlight="/components/xwing-data/images/<%= conditions[name].image %>"
                            data-featherlight-variant="card-preview-modal"
                            data-featherlight-close-on-click="anywhere">
                                <img src="/components/xwing-data/images/<%= conditions[name].image %>" alt="Card image for <%= conditions[name].name %>">
                        </div>
                    </li>
                <% }); %>
            <% } %>
        <% }); %>
    </ul>
</div>
