<div class="print-card-list">
    <ul>
        <% upgrades.forEach(function(upgrade) { %>
            <li>
                <img src="/components/xwing-data/images/<%= upgrade.image %>" alt="Card image for <%= upgrade.name %>">
            </li>
            <% if (upgrade.conditions) { %>
                <% upgrade.conditions.forEach(function(name) { %>
                    <li>
                        <img src="/components/xwing-data/images/<%= conditions[name].image %>" alt="Card image for <%= conditions[name].name %>">
                    </li>
                <% }); %>
            <% } %>            
        <% }); %>

        <% abilities.forEach(function(abilityPilot) { %>
            <li class="ability">
                <%= renderCard(abilityPilot) %>
            </li>
            <% if (abilityPilot.conditions) { %>
                <% abilityPilot.conditions.forEach(function(name) { %>
                    <li>
                        <img src="/components/xwing-data/images/<%= conditions[name].image %>" alt="Card image for <%= conditions[name].name %>">
                    </li>
                <% }); %>
            <% } %>   
        <% }); %>
    </ul>
</div>
