<% if (hasDisabledOrUnequippedUpgrades) { %>
    <div class="allowed-list">

        <% if (hasUnequippedUpgrades) { %>
            <div class="unused-upgrades-wrapper">
                <h4><span>Unused upgrades</span> <i class="material-icons" id="unused-upgrades-info">info_outline</i></h4>
                <div class="mdl-tooltip" data-mdl-for="unused-upgrades-info">
                    Upgrades which have been purchased but are not currently equipped.
                </div>
                <ul id="unused-upgrade-list">
                    <% unequipped.forEach(function(upgrade) { %>
                        <li class="upgrade card" upgrade-id="<%= upgrade.id %>">
                            <%= iconString(upgrade.slot) %> 
                            <span class="upgrade-name"><%= (upgrade.dualCardName || upgrade.name) %></span>
                            <i class="material-icons eye">zoom_in</i>
                        </li>
                    <% }); %>
                    <% unequippedAbilities.forEach(function(pilot) { %>
                        <li class="upgrade ability" ability-id="<%= + pilot.id %>">
                            <%= iconString('Elite') %>
                            <span class="upgrade-name">Ability: <%= pilot.name %></span>
                            <i class="material-icons eye">zoom_in</i>
                        </li>
                    <% }); %>
                </ul>
            </div>
        <% } %>

        <% if (hasDisabledUpgrades) { %>
            <div class="disabled-upgrades">
                <h4>Disabled upgrades</h4>
                <p>These upgrades have been purchased but cannot be equipped to the current ship.</p>
                <ul id="disabled-upgrade-list">
                    <% disabled.forEach(function(upgrade) { %>
                        <li class="upgrade card" upgrade-id="<%= upgrade.id %>">
                            <%= iconString(upgrade.slot) %> 
                            <span class="upgrade-name"><%= (upgrade.dualCardName || upgrade.name) %></span>
                            <i class="material-icons eye">zoom_in</i>
                        </li>
                    <% }); %>
                </ul>
            </div>
        <% } %>
    </div>
<% } %>
