<li>
    <div class="slot <% if (upgradeSlot.equipped) { %>equipped<% } else { %>unequipped<% } %>"
        data-featherlight="/components/xwing-data/images/<%= upgradeSlot.upgrade.image %>"
        data-featherlight-variant="card-preview-modal"
        data-featherlight-close-on-click="anywhere"
        >
        <%= iconString %>
        <span class="title"><%= upgradeSlot.upgrade.name %></span>
        <i class="material-icons icon-preview">zoom_in</i>
    </div>
    <% if (upgradeSlot.equipped) { %>
        <i class="material-icons remove" unequip="<%= upgradeSlot.upgrade.id %>">remove_circle_outline</i>
    <% } else { %>
        <i class="material-icons remove" equip="<%= upgradeSlot.upgrade.id %>">add_circle_outline</i>
    <% } %>
</li>
