<li>
    <% if (build.pilotSkill < upgradeSlot.pilotSkill) { %>
        <div class="slot disabled">
            <span class="title"><%= upgradeSlot.type %></span>
            <% if (upgradeSlot.pilotSkill) { %>
                <span class="required-ps"> (PS <%= upgradeSlot.pilotSkill %>)</span>
            <% } %>  
        </div>
    <% } else { %>
        <div class="slot <% if (upgradeSlot.equipped) { %>equipped<% } else { %>unequipped<% } %>"
            <% if (upgradeSlot.equipped) { %>
                <% if (upgradeSlot.equipped.skill) { %>
                    open-ability-preview="<%= upgradeSlot.equipped.id %>"
                <% } else { %>
                    data-featherlight="/components/xwing-data/images/<%= upgradeSlot.equipped.image %>"
                    data-featherlight-variant="card-preview-modal"
                    data-featherlight-close-on-click="anywhere"
                <% } %>
            <% } else { %> 
                equip-slot="<%= upgradeSlot.type %>"
            <% } %> 
        >
            <%= iconString %>

            <% if (upgradeSlot.equipped) { %>
                <span class="title"><%= upgradeSlot.equipped.name %></span>
                <i class="material-icons icon-preview">zoom_in</i>

            <% } else { %>
                <span class="title"><%= upgradeSlot.type %></span>
                <% if (upgradeSlot.pilotSkill) { %>
                    <span class="required-ps"> (PS <%= upgradeSlot.pilotSkill %>)</span>
                <% } %>     
            <% } %>

        </div>
        <% if (upgradeSlot.equipped) { %>
            <% if (upgradeSlot.equipped.skill) { %>
                <i class="material-icons remove" unequip-ability="<%= upgradeSlot.equipped.id %>">remove_circle_outline</i>
            <% } else { %>
                <i class="material-icons remove" unequip-slot="<%= upgradeSlot.equipped.id %>">remove_circle_outline</i>
            <% } %>
        <% } %>
    <% } %>
</li>
