<li>
    <% if (build.pilotSkill < upgradeSlot.pilotSkill) { %>
        <button class="slot disabled">
            <span class="title"><%= upgradeSlot.type %></span>
            <% if (upgradeSlot.pilotSkill) { %>
                <span class="required-ps"> (PS <%= upgradeSlot.pilotSkill %>)</span>
            <% } %>  
        </button>
    <% } else { %>
        <button class="slot <% if (upgradeSlot.equipped) { %>equipped<% } else { %>unequipped<% } %>"
            <% if (upgradeSlot.equipped) { %>
                <% if (upgradeSlot.equipped.skill) { %>
                    open-ability-preview="<%= upgradeSlot.equipped.id %>"
                    preview-button="unequip"
                <% } else { %>
                    open-card-preview="<%= upgradeSlot.equipped.id %>"
                    preview-button="unequip"
                <% } %>
            <% } else { %> 
                equip-slot="<%= upgradeSlot.type %>"
            <% } %> 
        >
            <%= iconString %>

            <% if (upgradeSlot.equipped) { %>
                <span class="title"><%= (upgradeSlot.equipped.dualCardName || upgradeSlot.equipped.name) %></span>
                <i class="material-icons icon-preview">zoom_in</i>

            <% } else { %>
                <span class="title"><%= upgradeSlot.type %></span>
                <% if (upgradeSlot.pilotSkill) { %>
                    <span class="required-ps"> (PS <%= upgradeSlot.pilotSkill %>)</span>
                <% } %>     
            <% } %>

        </button>
    <% } %>
</li>
