.reset
    margin: $site-padding 0
    overflow: hidden

    @include media('print')
        display: none

#print,
#export
    float: right
    padding: 0 8px
    min-width: 48px

#export
    margin-right: $site-padding / 2

.build-header
    overflow: hidden
    background-color: $color-primary
    color: #fff
    padding: $site-padding

    @include media('print')
        padding: 0

    .title-wrapper
        float: left

        #title-icon,
        h2
            display: inline-block
            vertical-align: middle

        h2
            margin: 0
            line-height: 1

        i
            $size: 50px
            margin-right: $site-padding / 2
            display: inline-block
            width: $size
            height: $size
            line-height: $size
            border-radius: $size
            background-color: #000
            text-align: center
            font-size: 42px

        .subtitle
            display: block
            font-size: 14px
            font-weight: 400
            line-height: 1
            margin-top: 0.4em

    .xp-current
        float: right
        position: relative

        .label,
        .value
            display: inline-block
            vertical-align: middle
            line-height: 1

        .label
            text-align: center

        .label-main,
        .label-sub
            display: block

        .label-main
            font-size: 36px
            margin-bottom: 4px

        .label-sub
            font-size: 10px

        .value
            margin: 0 10px
            font-size: 36px
            background-color: $color-accent
            min-width: 48px
            height: 48px
            line-height: 48px
            border-radius: 48px
            text-align: center
            padding: 0 14px

            @include media('print')
                line-height: 1

        .mdl-button--fab
            position: absolute
            top: -5px
            right: -10px
            width: 30px
            min-width: 30px
            height: 30px
            font-size: 10px

.build-content
    padding: 0

    @include media($media-main-padding)
        background-color: #f6f6f6
        padding: 0 $site-padding $site-padding $site-padding

    @include media('print')
        padding: 0
        text-align: left

    .mdl-tabs__tab-bar
        margin-bottom: $site-padding 

        @include media('print')
            display: none

        .stats-upgrade-tab-button
            display: none

        @include media($media-main-two-col)
            .stats-upgrade-tab-button
                display: block

            .stats-tab-button,
            .upgrades-tab-button
                display: none

    .mdl-tabs
        overflow: hidden

    .mdl-tabs__panel
        overflow: hidden
        text-align: center

    @include media($media-main-two-col)
        #ship-stats-tab
            display: block
            float: left
            width: 300px
            margin-right: $site-padding

        #upgrades-tab
            display: block
            margin-top: 0
            margin-left: 320px

