.build-content
    .mdl-tabs
        overflow: hidden

    .mdl-tabs__tab-bar
        margin-bottom: $site-padding 

        @include media('print')
            display: none

    .mdl-tabs__tab
        padding: 0 14px
        font-size: 12px

        @include media($media-summary-two-col)
            padding: 0 24px

        @include media($media-tabs-large-size)
            font-size: 14px

    .tabs-panel
        overflow: hidden
        text-align: center
