.featherlight
    $close-icon-size: 45px
    $footer-height: 40px
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
    -webkit-tap-highlight-color: transparent

    .featherlight-close-icon
        background-color: #ff4081
        color: #fff
        width: $close-icon-size
        height: $close-icon-size
        font-size: 20px

    .featherlight-inner
        position: relative

    .mdl-tabs__tab
        // reduce padding for narrow screens
        @include media($media-featherlight-narrow-tabs)
            padding: 0 12px
            font-size: 13px

    &.many-tabs .mdl-tabs__tab
        @include media($media-featherlight-many-narrow-tabs)
            padding: 0 4px
            font-size: 11px

        @include media($media-featherlight-many-very-narrow-tabs)
            padding: 0 3px
            font-size: 10px

    .card-image-list
        text-align: center

        li
            display: inline-block
            padding: 3px
            cursor: pointer

        img
            width: 164px
            height: 264px
            border-radius: 12px

        li.selected img
            box-shadow: #45b3f9 0px 0px 6px 3px

        li.cannot-afford
            opacity: 0.6
            cursor: not-allowed

    .pilot-ability-list
        text-align: left

        li
            border-bottom: 1px solid #eee
            padding: $site-padding / 2
            margin: 0 6px
            cursor: pointer

            &:last-child
                border-bottom: none

            &.selected
                box-shadow: #45b3f9 0px 0px 6px 3px

            &.cannot-afford,
            &.lower-ps
                cursor: not-allowed
                color: #bbb

            &.lower-ps
                background-color: #eee
                color: #847f7f

            h3
                font-size: 20px
                line-height: 30px

            .cost,
            p
                font-size: 12px

            .ps
                float: right
                clear: right
                line-height: 1.3
                font-size: 11px

            &.cannot-afford
                .cost
                    color: #ff9090

            &.lower-ps
                .ps
                    color: #ff9090

        h3,
        p
            margin-bottom: 0

    .ship-options-list
        text-align: center

        li
            border: 1px solid #eee
            cursor: pointer
            display: inline-block
            margin: 5px
            border-radius: 14px
            background-color: #eaeaea

            &.selected
                box-shadow: #45b3f9 0px 0px 6px 3px

            &.cannot-afford
                opacity: 0.4
                cursor: not-allowed

        .img-wrapper
            height: 122px
            width: 300px
            overflow: hidden

            img
                display: block
                max-width: 100%

        h3
            margin: 0

    &.option-select
        .featherlight-content
            padding-bottom: $footer-height + $site-padding

        .featherlight-inner
            overflow: auto

    .modal-footer
        position: absolute
        bottom: 0
        left: 0
        padding: $site-padding $site-padding 0
        text-align: center
        width: 100%
        height: $footer-height + $site-padding
        background-color: #fff

        .modal-footer-inner
            display: flex
            align-items: center
            justify-content: center

        .summary
            font:
                size: 18px
                weight: 700
            text-align: center

        .help
            display: block
            font:
                size: 12px
                weight: 400

        button
            margin-left: 1em

    &.confirm-buttons,
    &.message
        .featherlight-content
            padding-top: $close-icon-size
            text-align: center

            .message
                margin: $site-padding / 2
                text-align: left
                font-size: 14px

                @include media($media-featherlight-wide)
                    margin: $site-padding

            .buttons
                display: inline-block

                .cancel
                    margin-right: $site-padding

    &.add-xp
        .featherlight-content
            padding-right: $close-icon-size + ($site-padding / 2)
            text-align: center

            @include media($media-featherlight-wide)
                padding-right: $close-icon-size + $site-padding

            input,
            button
                vertical-align: middle

            input
                width: 3em
                font-size: 24px
                padding: 5px 10px
                border: 1px solid #e0e0e0

            button
                margin-left: $site-padding

    &.preview-pilot-ability
        .featherlight-content
            padding-top: $close-icon-size + ($site-padding / 2)

            @include media($media-featherlight-wide)
                padding-top: $close-icon-size + $site-padding

    .share-modal
        input
            width: 100%
            padding: 5px 10px


    &.content-typography
        .featherlight-content
            padding-left: 20px

            h1,
            h2,
            h3
                margin-left: -10px
