.featherlight
    $footer-height: 50px

    .featherlight-close-icon
        background-color: #ff4081
        color: #fff
        width: 45px
        height: 45px
        font-size: 20px

    .featherlight-inner
        position: relative

    .card-image-list
        padding-bottom: $footer-height
        text-align: center

        li
            display: inline-block
            margin: 3px
            cursor: pointer

        img
            width: 164px
            height: 264px

    .pilot-ability-list
        text-align: left

        li
            border-bottom: 1px solid #eee
            padding: 1em
            cursor: pointer

            &:last-child
                border-bottom: none

        h3,
        p
            margin-bottom: 0


    .modal-footer
        position: absolute
        bottom: 0
        left: 0
        padding: 0 20px
        text-align: center
        width: 100%

        .summary,
        button
            vertical-align: middle

        .summary
            display: inline-block
            font:
                size: 18px
                weight: 700
            margin-right: 1em

    .ship-options-list
        text-align: center
        padding-bottom: $footer-height

        li
            border: 1px solid #eee
            cursor: pointer
            display: inline-block
            margin: 5px
            border-radius: 14px
            background-color: #eaeaea

        .img-wrapper
            height: 124px
            overflow: hidden
            // padding bottom trick to maintain aspect ratio as image scales
            height: 0
            padding-bottom: 41%

            img
                display: block
                max-width: 100%

        h3
            margin: 0

.share-modal
    input
        width: 100%
        padding: 5px 10px
