.ship-info
    float: left
    width: 300px
    margin-right: 20px

    .img-wrapper
        width: 300px
        height: 124px
        overflow: hidden
        background-color: #fefefe

        img
            display: block
            max-width: 100%

    #ship-info-stats,
    #ship-info-actions
        background-color: #262626
        padding: 0 10px
        font-size: 22px
        line-height: 58px
        text-align: center

    #ship-info-stats
        font-weight: 700

        i
            font-weight: 400

        span
            display: inline-block
            margin-right: 1em

            &:last-child
                margin-right: 0

        .attack
            color: #c52b2b

        .agility
            color: #4ead4e

        .hull
            color: #ffff3f

        .shield
            color: #53a3fb

    #ship-info-actions
        border-bottom-left-radius: 14px
        border-bottom-right-radius: 14px
        border-top: 1px solid #333

        i
            color: #fff
            display: inline-block
            margin-right: 1em

            &:last-child
                margin-right: 0


    #ship-info-upgrades
        overflow: hidden
        column-count: 2

        li
            background-color: #fff
            width: 147px
            margin-top: 6px
            font-size: 10px
            padding: 0 8px
            box-sizing: border-box
            line-height: 28px

            span,
            i
                vertical-align: middle

            .icons
                margin-right: 0.5em

            &:nth-child(odd)
                margin-right: 6px

            &.disabled
                background-color: #eee
