.change-ship
    @include media('print')
        display: none

.upgrades-wrapper
    background-color: #fff
    overflow: hidden
    // font-size: 0

    @include media($media-main-padding)
        padding:
            top: $site-padding
            left: $site-padding
            right: $site-padding

    @include media('print')
        margin: 0
        padding: 0

    h3
        @include media('print')
            display: none

.add-xp
    text-align: center

    span,
    button,
    i
        vertical-align: middle

    button
        $size: 30px
        width: $size
        min-width: $size
        height: $size
        margin-left: 4px

        i
            font-size: $size * 0.7

.upgrades-options
    display: flex
    justify-content: space-evenly
    flex-wrap: wrap
    text-align: center

    @include media($media-upgrade-extra-padding)
        background-color: #eee
        margin-bottom: $site-padding

.pilot-skill-upgrade,
.change-ship
    margin-bottom: $site-padding

    @include media($media-upgrade-extra-padding)
        margin-top: $site-padding

.upgrade-slots-wrapper
    display: flex
    justify-content: center

.ship-slots,
.allowed-list
    padding: 0 10px
    min-width: 50%
    max-width: 230px

    @include media($media-main-padding)
        min-width: auto
        width: 230px

    h4
        text-align: center
        margin-bottom: 8px
        line-height: 1.3

        span,
        i
            vertical-align: middle

        i
            font-size: 20px
            cursor: pointer

.upgrade-slots-wrapper.two-list
    .ship-slots
        padding-right: 0

    .allowed-list
        padding-left: 20px

#ship-slots-free-wrapper
    padding-bottom: 0

.ship-slots-list
    $slot-padding-right: 29px
    overflow: hidden
    padding: 0 0 $site-padding
    width: 100%
    max-width: 300px

    h4
        margin-right: $slot-padding-right

    ul
        text-align: left
        margin: 0

    li
        margin-bottom: 6px
        padding-right: $slot-padding-right
        position: relative

    .slot,
    i.remove
        display: inline-block
        vertical-align: middle

    .slot
        background-color: #fff
        font-size: 10px
        padding: 5px 8px
        box-sizing: border-box
        line-height: 1.3
        border: 1px solid #eee
        border-radius: 4px
        cursor: pointer
        width: 100%
        flex-grow: 1
        display: flex
        align-items: center

        &.unequipped
            // box-shadow: 2px 2px 3px 0px #eaeaea
            border-color: #d4d4d4

        &.equipped
            background-color: #eee
            // box-shadow: 2px 2px 2px 0px #c7c7c7

            .title
                font-style: normal
                flex-grow: 1

        &.disabled
            color: #bbb

        .title
            font-style: italic

        .xwing-miniatures-font
            margin-right: 3px

        .icon-preview
            color: #868686
            font-size: 20px

        .required-ps
            margin-left: 3px
            white-space: nowrap

        &:hover .icon-preview
            color: #000

    i.remove
        position: absolute
        right: 0
        top: 4px
        cursor: pointer
        color: #868686

        &:hover
            color: #000

.allowed-list
    text-align: left

    p,
    li
        font-size: 10px
        line-height: 1.3

    li
        background-color: #eee
        margin-bottom: 6px
        padding: 5px 8px
        cursor: pointer
        display: flex
        align-items: center

        &:last-child 
            margin-bottom: 0

        i.xwing-miniatures-font
            margin-right: 4px

        .upgrade-name
            flex-grow: 1

        i.eye
            float: right
            color: #868686
            font-size: 20px

        &:hover i.eye
            color: #000

        i.eye,
        span
            @include media('print')
                display: none

        img
            max-width: 100%

        .preview
            display: none

            @include media('print')
                display: block
                zoom: 75%

#disabled-upgrade-list
    li
        opacity: 0.4
