.purchased-upgrades
    border-top: 1px solid #eee
    margin-top: $site-padding
    padding:
        top: $site-padding
        left: $site-padding
        right: $site-padding

#upgrade-list
    font-size: 12px
    overflow: hidden
    margin: 0
    // flexbox
    display: flex
    align-items: flex-start
    justify-content: center
    flex-direction: row
    flex-wrap: wrap
    flex-flow: row wrap
    align-content: flex-end

    > li
        margin-right: 5px
        margin-bottom: $site-padding

        &.disallowed
            opacity: 0.5

        &:last-child
            margin-right: 0

        ul
            margin-bottom: 0

        li
            width: 180px
            padding: 5px 10px
            margin-bottom: 5px  

            &.slot
                background-color: #fff

                i
                    margin-right: 0.2em

                span,
                i
                    vertical-align: middle

            &.upgrade,
            &.starting-upgrade
                cursor: pointer

            &.starting-upgrade
                background-color: #eee

            &.upgrade
                background-color: #c8f3c8
                cursor: pointer

            .equip
                font-size: 10px

        .mdl-button
            width: 180px

    h4,
    p
        margin-bottom: 0

    h4 .number
        margin-left: 0.7em
        font-size: 12px
        display: inline-block
        background-color: $color-primary
        border-radius: 20px
        width: 20px
        height: 20px
        color: #fff
        line-height: 20px
        text-align: center
