<span class="pilot-skill">PS <%= data.build.pilotSkill %></span>
<span class="attack"><%= data.statValues.attack %> <i class="xwing-miniatures-font xwing-miniatures-font-attack"></i></span>
<span class="agility"><%= data.statValues.agility %> <i class="xwing-miniatures-font xwing-miniatures-font-agility"></i></span>
<span class="hull"><%= data.statValues.hull %> <i class="xwing-miniatures-font xwing-miniatures-font-hull"></i></span>
<span class="shield"><%= data.statValues.shields %> <i class="xwing-miniatures-font xwing-miniatures-font-shield"></i></span>
